<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Dating App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto" *ngIf="loggedIn()">
      <li class="nav-item">
        <a class="nav-link" href="#">Matches <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lists <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Messages <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0 ml-auto" (ngSubmit)='login()'>
      <input class="form-control mr-sm-2" type="text" placeholder="Email" aria-label="Email" required name="username" [(ngModel)]='model.username'>
      <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password" required name="password" [(ngModel)]='model.password'>
      <button type="submit" [disabled]="!loginForm.valid" class="btn btn-success">Sign In</button>
    </form>
    <ul *ngIf="loggedIn()" class="nav navbar-nav navbar-right">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" 
        aria-haspopup="true" aria-expanded="false">Welcoem {{authService.decodedTokenn?.unique_name | titlecase }}</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#"><i class='fa fa-user'></i> Edit Profile</a>
          <a class="dropdown-item" (click)="logout()" href="#"><i class="fa fa-sign-out"></i> Sign Out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

