<div *ngIf="!registerMode" class="text-center">
  <h1>Find your match</h1>
  <p class="lead">Come on in to view your matches... All you need to do is sign up!</p>
  <div class="text-center btn-group">
    <button type="button" class="btn btn-primary btn-lg" (click)="registerToggle()">Register</button>
    <button type="button" class="btn btn-info btn-lg">Learn More</button>
  </div>
</div>
<div *ngIf="registerMode" class="container">
  <div class="col mx-auto w-50 p-3 text-white text-center">
    <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
  </div>
</div>